
# Servidor
HOST=0.0.0.0
PORT=3500

# PostgreSQL
HOST_DB=localhost
PORT_DB=5432
USERNAME_DB=postgres
PASSWORD_DB=postgres
DATABASE_DB=plantilla_back

# Seed admin
ADMIN_SEED_ENABLED=true
ADMIN_SEED_NAME=Admin
ADMIN_SEED_USERNAME=admin@local.dev
ADMIN_SEED_PASSWORD=Admin123


# JWT
JWT_SEED=MarianiitaSecretSeed
